.widget {
    background: var(--light-blue);
    margin-bottom: var(--m-size);
}

.widget__message {
    color: var(--off-white);
    margin: 0;
    padding: var(--l-size);
    text-align: center;
    border-bottom: 1px solid ;
}

.widget-header {
    background: var(--blue);
    color: var(--off-white);
    display: flex;
    justify-content: space-between;
    padding: var(--m-size);
}

.widget-header__title {
    margin: 0;
}